# Learn Redshift in Notebook

在学习 Redshift 或在工作中使用 Redshift 时, 我经常会有需要 创建表格, 插入测试数据, 运行测试的 SQL 这样的工作需求. 这些实验的过程和结论我往往会写成文档记录下来.

AWS Redshift 自带一个 Query Editor, 可以在里面写 SQL. 但是你无法将其导出成人类友好的文档. 2022 年 AWS Redshift 推出了 Notebook 功能 [Authoring and running notebooks](https://docs.aws.amazon.com/redshift/latest/mgmt/query-editor-v2-notebooks.html). 现在开发者可以用 AWS Redshift 自带的 Jupyter Notebook, 在里面写 Markdown, 运行 SQL 并展示结果, 并且还能把数据结果画成图表. 而这一切都在 Notebook 中进行, 并且你还能将其下载下来. 这真是太方便了.

现在 Redshift Notebook 是我用来学习, 探索, 写 Redshift 相关的博客的最佳工具.

**我在使用 Redshift Notebook 的过程中发现了以下值得注意的地方**:

- Redshift Notebook 不是标准的 Jupyter Notebook. Interactive 的 Output 在 GitHub 或是标准的 Jupyter Lab 中是无法编辑和显式的. **所以你可以把 Notebook 下载下来在 Git 中留档, 但是不要在 Redshift Notebook 环境以外的地方编辑它, 以防损坏**.
- Redshift Notebook 无法被 Sphinx doc 构建成文档. 所以作为文档你不能将其命名为 ``index.ipynb``.
- 你可以将 Redshift Notebook 用自带文件夹系统进行归档整理. 每个 Notebook 都可以创建 Immutable 的 Version.
- Redshift Notebook 支持 export 和 import. 你可以将其导出后备份到 Git.

**我是如何用 Redshift Notebook 进行探索性实验的**:

每当我需要进行探索性实验, 我就会:

1. 把本 Notebook 复制一份然后 import 到 Redshift Query Editor 中.
2. 按照顺序, 重点修改 Create Table, Insert Test Data, Run Query 三部分进行探索.
3. 创建一个 Version, 并且 export 将其保存到 Git 中. 写一个 ``index.rst`` 文件然后进行简短介绍并引用这个 ``.ipynb`` 文件.

## Create Table

In [0]:
CREATE TABLE IF NOT EXISTS json_test(
    id VARCHAR(255) NOT NULL,
    create_at TIMESTAMP NOT NULL,
    data SUPER NOT NULL,
    PRIMARY KEY (id, create_at)
)
distkey(id)
sortkey(create_at);

## Drop Table

In [0]:
DROP TABLE IF EXISTS json_test

## Delete All Rows

In [0]:
DELETE FROM json_test;

## Insert Test Data

In [0]:
INSERT INTO json_test VALUES(
    'id-1',
    '2000-01-01 00:00:00.123456',
    JSON_PARSE('{"name": "Alice"}')
);

## Run Query

In [0]:
SELECT data.name FROM json_test;