# Learn Redshift in Notebook

在学习 Redshift 或在工作中使用 Redshift 时, 我经常会有需要 创建表格, 插入测试数据, 运行测试的 SQL 这样的工作需求. 这些实验的过程和结论我往往会写成文档记录下来.

AWS Redshift 自带一个 Query Editor, 可以在里面写 SQL. 但是你无法将其导出成人类友好的文档. 2022 年 AWS Redshift 推出了 Notebook 功能 [Authoring and running notebooks](https://docs.aws.amazon.com/redshift/latest/mgmt/query-editor-v2-notebooks.html). 现在开发者可以用 AWS Redshift 自带的 Jupyter Notebook, 在里面写 Markdown, 运行 SQL 并展示结果, 并且还能把数据结果画成图表. 而这一切都在 Notebook 中进行, 并且你还能将其下载下来. 这真是太方便了.

现在 Redshift Notebook 是我用来学习, 探索, 写 Redshift 相关的博客的最佳工具.

In [0]:
CREATE TABLE IF NOT EXISTS json_test(
    id VARCHAR(255) NOT NULL,
    create_at TIMESTAMP NOT NULL,
    data SUPER NOT NULL,
    PRIMARY KEY (id, create_at)
)
distkey(id)
sortkey(create_at);

In [0]:
DROP TABLE IF EXISTS json_test

In [0]:
INSERT INTO json_test VALUES(
    'id-1',
    '2000-01-01 00:00:00.123456',
    JSON_PARSE('{"name": "Alice"}')
);

In [0]:
SELECT data.name FROM json_test;